[2013-03-22 10:45] Athou opened #1 "useRecent() returns null on JBossAS"
It seems that when deployed on JBossAS (I tried on JBoss EAP 6.1.0 Alpha, the latest one from 6.1.0 Alpha), the "current" string in the resource path is rendered as "null".
Sorry for the lack of details, I don't have a lot of time right now to investigate the issue.

[2013-05-31 12:28] cschroeter opened #3 "Bug: Adding resource via markup"
Adding a resource to your html markup directly is broken at the moment.

How to reproduce:
Cloned wicket-webjars, deployed 0.2.1-Snapshot without any changes.

&lt;img src="/webjars/jquery-ui/1.9.2/css/smoothness/images/ui-icons_cd0a0a_256x240.png"/ &gt; defined in Homepage.html can not be loaded. (404)

[2013-06-29 16:00] #3 closed, assigned to l0rdn1kk0n

[2013-10-16 08:04] #1 closed, assigned to l0rdn1kk0n

[2014-01-03 14:19] johnjcool opened #5 "Exception loading files with embedded jetty"
[code]

you have to update like webjars-locator is doing:

[code]

you also have to update vfs-support like this:

[code]

we have implemented a version of wicket-webjars based on yours without need of webjars-locator. if you are interested we can commit and share.

[2014-01-21 11:24] #5 closed, assigned to l0rdn1kk0n

[2014-02-05 08:40] brisau opened #9 "GAE not compatible with wicket-webjars 0.3.4 but version 0.2.0 related to wicket-bootstrap version 0.8.4 is compatible."
java.lang.NoClassDefFoundError: java.net.URLStreamHandler is a restricted class. Please see the Google

WARNING: failed JettyContainerService$ApiProxyHandler@372726a7: java.lang.NoClassDefFoundError: java.net.URLStreamHandler is a restricted class. Please see the Google App Engine developer's guide for more details.
Feb 05, 2014 7:46:45 AM com.google.apphosting.utils.jetty.JettyLogger warn
WARNING

[2014-02-05 19:06] a-brandt opened #10 "WebSphere: WebjarsResourceFinder - can't locate resource"
I tried to use wicket-bootstrap 0.9.1 on a WebSphere server but WebjarsResourceFinder could not locate the bootstrap.css or bootstrap.js file.

[code]

Are there any known problems with WebSphere?

[2014-02-06 09:08] #9 closed, assigned to l0rdn1kk0n

[2014-02-06 18:56] #10 closed, assigned to l0rdn1kk0n

[2014-03-24 14:02] drzewo opened #12 "Add an ability to serve minified versions of resources from webjars."
All webjars (well, at least those I uses to use) contain minified versions of server resources which names' match the pattern {basename}-min.{js.css} It would be cool if wicket-webjars library was able to serve minified artifacts in production mode and plain ones in development mode. Or if this could be chosen manually somehow.

[2014-03-25 09:58] #12 closed, assigned to l0rdn1kk0n

[2014-05-13 21:53] almassari opened #14 "Resource css js files cannot be located"
Wanted to add Wicket bootstrap into my wicket app and I get this:
WARN [ResourceReferenceRegistry] A ResourceReference wont be created for a resource with key [scope: de.agilecoders.wicket.webjars.request.resource.WebjarsCssResourceReference; name: webjars/bootstrap/null/css/bootstrap.css; locale: null; style: null; variation: null] because it cannot be located.
WARN [ResourceReferenceRegistry] A

[2014-05-28 08:01] ialexandrakis opened #15 "OSGi classloader problems, possible workaround"
In the OSGi world, there should be a feature for accessing "bundle://" urls. There is also a pull request, but regarding only vfs storage, which is not the default handling in all containers.

Since wicket as a web application framework is NOT osgi friendly, (there are a lot of DynamicImport-Package: * in the jars, which creates a lot of problems with the loading of classes if there are two or mor

[2014-06-06 16:37] Puneetsri opened #16 "no webjars dependency for: /webjars/bootstrap/current/js/bootstrap.js"
Hi,
We've migrated our year old application from Jetty to Jboss and we are getting following exception:

 at org.jboss.threads.JBossThread.run(JBossThread.java:122)
Caused by: java.lang.IllegalArgumentException: there is no webjars dependency for: /webjars/bootstrap/current/js/bootstrap.js        at de.agilecoders.wicket.webjars.util.WebjarsVersion.recentVersion(WebjarsVersion.java:64) [wicket-web

[2014-06-11 22:20] #16 closed, assigned to nobody

[2014-06-27 13:37] martin-g opened #17 "Release 0.4.3"
d5ab2992e9537bdf8a110d238a7ff7db758d503a fixes a problem that is a stopper for https://github.com/l0rdn1kk0n/wicket-bootstrap/issues/396

Please release 0.4.3 with this fix.

[2014-06-28 10:12] #17 closed, assigned to l0rdn1kk0n

[2014-08-15 11:56] martin-g opened #18 "Add a helper method to WicketWebjars to check whether it is already installed"
It would be nice to have `WicketWebjars#isInstalled(Application)` to avoid checks like:
https://github.com/apache/wicket/commit/2d4428b26253296f01e3c472631bb63707296366#diff-69588f1514884e4c531411f5e889c6d0R36
in the application code.

[2014-08-15 12:59] #18 closed, assigned to nobody

[2014-08-18 06:53] martin-g opened #20 "NullPointerException while trying to locate a class"
wicket-examples has a test that was using `null` as a scope to locate a resource in the classpath.
After adding wicket-webjars to wicket-atmosphere it started failing with:

[code]

[2014-08-18 08:12] #20 closed, assigned to nobody

[2014-09-03 13:06] martin-g opened #22 "Wrong WARN printed when there is only one version of a resource"
2014-09-03 15:34:13,700 [qtp927935627-18] WARN [de.agilecoders.wicket.webjars.WicketWebjars] - more than one version of a dependency is not supported till now. webjars resource: spin.js; available versions: [2.0.0, 2.0.0]; using: 2.0.0

[2014-10-13 16:49] tkruse opened #24 "large dependency set added"
Hi,

I like wicket-webjars. As a comment, I noticed today it pulls several library jars:
[code]
Making this a 1MB dependency (not excessive, but still not nice).
I believe that seems excessive for the normal usage of wicket-webjars (unless I miss something), so it would be nice if there was a lightweight version.

You can close this issue when no time or not enough interest.

[2014-10-21 07:00] martin-g opened #26 "Try to drop wicket-webjars-vfs module and use JRE classes only."
Note: with https://github.com/apache/wicket/commit/46684ffdf5fa925976e1c10b89b8b754af152b6f I've added support for JBoss VFS browsing and reading without using JBoss APIs. Maybe we can do the same here and drop wicket-webjars-vfs module ?!

I'll investigate it soon.

Related to #25

[2014-11-06 08:33] #22 closed, assigned to nobody

[2014-11-06 08:34] #26 closed, assigned to nobody

[2014-11-18 15:46] ceefour opened #28 "Upgrade to reflections 0.9.9"
Please upgrade to reflections 0.9.9, which uses proper `org.javassist:javassist` artifact (not `javassist:javassist`) version `3.18.2-GA`.

Also please apply to wicket-webjars v0.4.x as well.

Thank you.

https://github.com/l0rdn1kk0n/wicket-bootstrap/issues/397 depends on this.

[2014-11-18 15:48] #28 closed, assigned to nobody

[2015-02-13 13:41] martin-g commented on #26
*Note*: `vfs-support:0.3.3` module is still needed for Wicket 6.x. The improvement in Wicket is in 7.0.0-M4.

[2015-02-19 16:19] tkruse opened #30 "wicket-webjars 0.5.0 only for wicket7?"
I noticed wicket-webjars 0.5.0 is out, but no commits on the master branch of this repo exist. Only the wicket7 branch has those. It would be nice if that could somehow be explained in the README file of the master branch, whether this is only compatible with wicket7.

Because as a developer I see there is a new version, so I try to go see the changelog, but find no information about 0.5.0 in this

[2015-02-19 16:22] martin-g commented on #30
Yes, 0.5.x is for Wicket 7.x.
0.4.x will be for Wicket 6.x.
I have no much time to do everything properly.
Pull Requests are welcome!

[2015-02-19 16:22] #30 closed

[2015-04-25 18:50] Shengche opened #31 "Multiple JS"
How do I load multiple javascript in on WebjarsJavaScriptResourceReference?

[2015-04-25 19:20] martin-g commented on #31
By overriding its dependencies (see `#getDependencies()`).

[2015-04-25 19:20] #31 closed

[2015-04-26 15:05] Shengche commented on #31
Thanks Martin

On Sun, Apr 26, 2015 at 3:20 AM, Martin Grigorov <notifications@github.com>
wrote:

--
--------------------------------------------------------------------------------------------->
To boldly go where no man has gone before.
--------------------------------------------------------------------------------------------->
We do this not because it is easy. We do this because it is hard.

[2015-05-27 12:52] erikgb opened #32 "Unable to use webjars with deep hierarchy (more than 5 levels)"
We have a webjar structure deeper than 5 (currently hard-coded value for FileAssetPathCollector#MAX_DIRECTORY_DEPTH), and our Wicket application is unable to start when loading webjar content from file system. Why is this max depth value set at all, and it should at least be configurable.

[2015-05-27 13:05] martin-g commented on #32
I guess it was set to avoid wasting time in traversing deep file structures.

Pull request would be welcome!

[2015-05-28 07:53] erikgb commented on #32
Thanks! I will be submitting a pull request soon. Suggested solution:
- No 'max directory depth' limit as default
- Adding a second constructor allowing for setting 'max directory depth'

As an alternative, the 'max directory depth' limit default can be set to 5 - which will make the fix 100% backwards compatible.

What do you think?

[2015-05-28 07:56] martin-g commented on #32
I think it is safe to remove this restriction.
Most webjars use shallow hierarchy.

I have to re-read the related code before applying such change though!

[2015-05-30 21:32] #32 closed

[2015-07-07 20:55] martin-g opened #34 "Add support for Spring Boot applications"
Spring Boot applications is a `.war` files which could act as launcher, i.e. could be started with `java -jar the-application.war`.

de.agilecoders.wicket.webjars.collectors.JarAssetPathCollector needs to be extended to be able to read the contents of the inner `.jar` files inside `the-application.war!WEB-INF/lib/` folder.

[2015-07-07 20:56] #34 closed

[2015-07-07 21:19] martin-g commented on #34
Released with 0.4.7

[2015-08-12 15:03] acetous opened #35 "Exception when starting the server via Java Webstart"
Hi!

We're starting a local server via Java Webstart. When using wicket-webjars, this exception occurs on application startup:
[code]

The `path` for `new File()` in `JarAssetPathCollector.newJarFile()` is
`jar:http://devserver.local:8080/webstart/app/lib/modernizr.jar`. Java Webstart handles the local cached JAR files in a special way, so wicket-webjars does not get the correct path.

We are usin

[2015-08-12 16:22] martin-g commented on #35
Please provide a simple quickstart application and steps to reproduce.
I have no experience with Webstart apps.
On Aug 12, 2015 6:03 PM, "Sebastian Herbermann" <notifications@github.com>
wrote:

[2015-08-14 07:51] acetous commented on #35
Sadly I can not provide a sime quickstart. You would need to run a webserver and start the local server via Java Webstart which runs the quickstart app. But I can provide our bugfix.

We had to add a custom `AssetPathCollector` to load the JAR files in a webstart environment via `com.sun.jnlp.JNLPClassLoader`.
So I replaced the `JarAssetPathCollector` with these classes (the same code runs on a we

[2015-08-16 17:39] martin-g commented on #35
Thanks for your code snippets!
Do you want to send a Pull Request with the suggested improvements?
Since I won't be able to test the fix/improvement I think I am not in position to actually implement it. So please send a PR and if it doesn't break the normal usage then I'll apply it!
Thanks!

[2015-09-12 18:28] Shengche opened #36 "PDF.JS"
Hello

I try to using PDF.JS in wicket project, but it seems cannot resolve the project name -- pdf-js
how can i do for it

[2015-09-12 18:30] martin-g commented on #36
What did you try?

[2015-09-12 18:59] Shengche commented on #36
Sorry I did the wrong way, after i changed the code to

super("pdf-js/current/build/pdf.js");

it works!

But, when i try to use it as javascript resorce there were error, showing
below

[2015-09-13T02:43:43.647+0800] [glassfish 4.1] [INFO] []
[com.google.javascript.jscomp.JsAst] [tid: _ThreadID=2177
_ThreadName=jscompiler] [timeMillis: 1442083423647] [levelValue: 800] [[
  Error parsing input.js:

[2015-09-12 19:30] martin-g commented on #36
Sorry, I have no experience with PDF.js...

[2015-09-12 19:30] #36 closed

[2015-09-12 22:51] Shengche commented on #36
Okay,thanks.
On Sep 13, 2015 3:30 AM, "Martin Grigorov" <notifications@github.com> wrote:

[2015-09-29 21:42] martin-g opened #37 "Improve support for uberjar applications"
Spring Boot applications may have either `.war` or `.jar` extension.
We have to support `.jar` too.

See https://github.com/l0rdn1kk0n/wicket-bootstrap/issues/556 and https://github.com/l0rdn1kk0n/wicket-webjars/issues/34

[2016-02-09 21:18] bkempe opened #38 "Refreshing BootstrapSelect broken in 0.10.5/6"
Steps to reproduce:
1. Go to https://wb-mgrigorov.rhcloud.com/select
2. click "Refresh first select"
3. console shows "Wicket.Ajax: Wicket.Ajax.Call.processComponent: Component with id [[default7e]] was not found while trying to perform markup update. Make sure you called component.setOutputMarkupId(true) on the component whose markup you are trying to update."

[2016-02-09 21:27] martin-g commented on #38
BootstrapSelect is part of wicket-bootstrap project, not wicket-webjars.

[2016-02-09 21:37] #38 closed

[2016-02-09 21:38] bkempe commented on #38
Oops, sorry.

[2016-02-22 20:29] MarcGiffing commented on #37
This code works with the ueberjar and the current placeholder:
https://github.com/MarcGiffing/wicket-webjars/tree/wicket7
What do you think?

[2016-02-23 09:18] martin-g commented on #37
I'll take a look later today!
Thank you!

[2016-02-23 16:42] martin-g commented on #37
@MarcGiffing Please create a Pull Request!

[2016-02-23 21:03] MarcGiffing opened #40 "Remove dependency to guava"
Guava is only used to initialize an ArrayList and a Hashet. I don't see a reason to use guava.

[2016-02-24 22:20] #40 closed

[2016-02-24 22:20] martin-g commented on #40
Thanks!

[2016-02-25 13:38] MarcGiffing commented on #37
With your code change the ClasspathAssetPathCollector is called multiple times for each jar. But it must only be called once. You introduced a possible perfomance problem if multiple jars are present. I removed the interface on purpose. I'm not sure if you aware of it and readded it also on purpose :)

[2016-02-25 20:34] martin-g commented on #37
I've just made it looking like the others.
I've tested it with the SpringBoot application from the original bug report and the time to start was 5secs, so I didn't check further.
Let me take a look with the debugger!

[2016-02-25 20:55] #37 closed

[2016-02-25 21:08] martin-g commented on #37
The URLs have been collected earlier in `de.agilecoders.wicket.webjars.collectors.AssetsMap#listWebjarsParentURLs()`.
I've improved `de.agilecoders.wicket.webjars.collectors.ClasspathAssetPathCollector#collect()` to collect just the resources for the currently being processed URL.

Thanks for catching this!

[2016-02-25 21:11] martin-g commented on #35
Closing the issue.
Please send a Pull Request if you want to contribute your solution.
Thank you!

[2016-02-25 21:11] #35 closed

[2016-02-25 21:13] martin-g commented on #24
The PR has been merged long time ago.

[2016-02-25 21:13] #24 closed

[2016-02-25 21:16] martin-g commented on #15
Please send a Pull Request if something has to be improved for better OSGi support.
I don't use OSGi and I'm not in position to provide a good solution.
Thank you!

[2016-02-25 21:16] #15 closed

[2016-02-25 21:18] #14 closed

[2016-03-08 07:39] ceefour opened #41 "Unblock .map files"
[code]

I think `WicketWebjars.install()` should do this automatically ?

[2016-03-08 07:42] ceefour commented on #41
I wonder if `+*.map` should be default in `SecurePackageResourceGuard` itself?

[2016-03-08 08:28] l0rdn1kk0n commented on #41
i don't think that you want to allow sourcemaps on your production system? I could think about a dev/prod toggle for sourcemaps, what do you think?

[2016-03-08 08:33] ceefour commented on #41
@l0rdn1kk0n I think if wicketConfiguration == `DEVELOPMENT`, the sourcemap should be unblocked

[2016-03-08 08:51] martin-g commented on #41
It was added at point in Wicket and removed after that with the agreement that the application should enable it if it decides so.

The idea of the .map file is to be able to debug the generated code. In this case backbone.js is generated by CoffeeScript sources.
And the question in this example is: Why backbone.min.js needs a .map file? You cannot debug minified files.
Usually the the non-minified

[2016-03-08 10:07] ceefour commented on #41
regarding min & map : `backbone-min.map` does exist.. It seems to map minified names back to original names.

[2016-03-08 10:11] ceefour commented on #41
I agree that `DEPLOYMENT` should block .map by default.
But ExceptionSettings is enabled by default, and I'd argue that security-wise, leaving ExceptionSettings enabled is more "insecure" than a JS map file. I mean, many people is using non-minified JS in production, and that's not a problem.

So if ExceptionSettings is enabled in dev and disabled in prod (by Wicket's defaults), I'd argue that .ma

[2016-03-09 10:26] l0rdn1kk0n commented on #41
I think it's a valid point to use sourcemaps in development mode, the users don't have to use the minified versions in development mode, so it should be possible to load them.

@martin-g please review the proposed solution.

[2016-03-09 13:10] martin-g commented on #41
I'll keep this issue opened for some more.
I want to dig what was the reason to revert the allowance of `.map` in the past.

[2016-03-14 11:51] martin-g commented on #41
It seems we will allow `.map` files by default in Wicket 6.23/7.3.
I'll revert the improvement here once I add it to Wicket.

[2016-03-14 12:21] ceefour commented on #41
Awesome! :)

[2016-03-14 21:45] martin-g commented on #41
https://issues.apache.org/jira/browse/WICKET-6122

[2016-03-27 11:15] martin-g commented on #41
Reverted!

[2016-03-27 11:15] #41 closed

[2016-04-25 11:15] steveluo commented on #37
I still have problem to load bootstrap.js when packaged in a uber jar with spring boot.
Would you please tell me in which version has this issue been fixed?

[2016-04-25 11:25] martin-g commented on #37
Thanks for asking!
It appears that I have forgotten to release it!
I'll release 0.4.9 and 0.5.4 now!

[2016-04-25 11:29] zhenyuluo commented on #37
@martin-g cool! Thank you so much.

[2016-04-25 11:39] martin-g commented on #37
Done!
They should be at Maven Central soon.
Please report whether or not the problem is solved. Thank you!

[2016-04-25 12:24] zhenyuluo commented on #37
Hi @martin-g, the issue is fixed. Thank you so much!

[2016-04-25 12:40] martin-g commented on #37
:+1:

[2016-04-27 14:47] steveluo commented on #37
Hi @martin-g, I still don't see wicket-webjars 0.5.4 in maven central repository. Are you sure it is published?

[2016-04-28 04:10] martin-g commented on #37
It was stuck in Sonatype OSS Nexus...
It should be OK now!

[2016-04-28 11:04] mpostelnicu commented on #37
working perfectly ! thanks @martin-g !

[2016-04-28 11:14] steveluo commented on #37
Yes, it is now working perfectly! Thanks @martin-g !

[2016-06-09 13:44] heryqk commented on #10
Was this issues ever resolved on WebSphere or is this still an issue ?

I'm currently having the issue on WebSphere 8.0.0.12, with Wicket-Bootstrap 0.9.16

[2016-06-09 13:45] martin-g commented on #10
which version of wicket-webjars do you use ?

[2016-06-09 13:51] heryqk commented on #10
wicket-webjars-0.4.8

Can't find references for bootstrap.css, bootstrap.js (which I could work around), but I am also getting the same for FontAwesome, which I can't work around.

If I run the same app in Jetty or Tomcat, it all works fine but I get the following on WebSphere:

GET http://win-jutvr554qmc:9080/OSCWebUISample/wicket/resource/de.agilecoders.w…WebjarsCssResourceReference/webjars/font

[2016-06-09 13:53] martin-g commented on #10
Please try with 0.4.9.

[2016-06-09 14:12] heryqk commented on #10
Same result.

[2016-06-09 14:15] martin-g commented on #10
In that case it is not fixed for WebSphere :-/

[2016-06-09 14:38] heryqk commented on #10
Should an issue be created ? If so where ?

[2016-06-09 14:48] martin-g commented on #10
Here, in this project.
But none of us uses WebSphere, so we will need your help to debug and fix it.

[2016-06-09 14:51] heryqk commented on #10
I'm happy to help.
To be honest though, my understanding of webjars and loading of static jar resources is very limited. I will need some guidance to get through this.

[2016-06-09 16:01] heryqk opened #43 "WicketWebjars cannot be located on WebSphere"
When using Wicket-Bootstrap 0.9.16 on WebSphere 8.0.0.12, WicketWebjars cannot be located.

[code]

[2016-06-12 14:21] klopfdreh commented on #10
@heryqk - can you try to set the strict classloader flag as mentioned here:

http://www-01.ibm.com/support/docview.wss?uid=swg1PM03656

[2016-06-13 14:07] heryqk commented on #10
I get the same result. See logs in [Issue 43](https://github.com/l0rdn1kk0n/wicket-webjars/issues/43).

[2016-06-14 13:56] heryqk commented on #43
I'm not sure how relevant this is, but someone mentions at https://github.com/webjars/webjars-locator/issues/78 something about how

Is there a comparable code change that could be done in wicket-webjars ? I looked at the code, but nothing jumps at me.

[2016-06-23 16:48] heryqk commented on #43
Does anyone have any insight on this issue ?

[2016-06-24 08:16] martin-g commented on #43
You will need to put a breakpoint at ClasspathAssetPathCollector#collect() and see what goes wrong.

[2016-06-27 16:21] heryqk commented on #43
After adding a lot of DEBUG statements and comparing with the running version of samples on Jetty, it appears ClasspathAssetPathCollector#collect() is never called on WebSphere.

What would be the cause of this ?

[2016-06-27 16:55] heryqk commented on #43
Adding log files for jetty and web sphere for the same sample web app.

[jetty.txt](https://github.com/l0rdn1kk0n/wicket-webjars/files/335408/jetty.txt)
[websphere.txt](https://github.com/l0rdn1kk0n/wicket-webjars/files/335409/websphere.txt)

[2016-06-29 08:39] martin-g commented on #43
I expect ClasspathAssetPathCollector#collect() to be called because CAPC#accept() always returns `true`.
I have the feeling that https://github.com/l0rdn1kk0n/wicket-webjars/blob/d65b01d36c11e2ac7e02eda9a2b6dfd3b511f77b/library/src/main/java/de/agilecoders/wicket/webjars/collectors/ClasspathAssetPathCollector.java#L44 returns false and that's why it looks like it is not even called.

Is it possibl

[2016-06-30 13:04] heryqk commented on #43
@martin-g I'll try to find a way to put breakpoints on WAS and get back to you. At first glance, with DEBUG statements, I can see ClasspathAssestPathCollector is called. I added a constructor and a debug statement. If you look at the web sphere log provided, you can see:

`[DEBUG] 2016-06-27 12:47:41,364 wicket-webjars - ClasspathAssetPathCollector()`

however, the debug statements in the `accept(

[2016-07-06 05:39] PolyPik opened #44 "Wicket-webjars has issues with Wildfly 10"
I followed the instructions to a t, but still getting this message on the console.
`
20:55:01,635 WARN  [org.apache.wicket.request.resource.ResourceReferenceRegistry] (default task-2) A ResourceReference wont be created for a resource with key [scope: de.agilecoders.wicket.webjars.request.resource.WebjarsCssResourceReference; name: webjars/bootstrap/3.3.6/css/bootstrap.css; locale: null; style: nu

[2016-07-18 20:03] heryqk commented on #43
@martin-g I finally found some time to look into this and with the help of a colleague, I was able to setup breakpoints.

 As of now, I can confirm that the `ClasspathAssestPathCollector.collect()` method is never called because `listWebjarsParentURLs()` in  `AssetsMap.getAssetPaths() ` return an empty set.

With that said, looking at [this issue](https://github.com/webjars/webjars-locator/issues/

[2016-07-18 20:33] martin-g commented on #43
Does `ClasspathAssestPathCollector` properly collect the webjars resources on the classpath ?
I'm afraid you will have to debug a bit deeper to see what is the next difference from the standards.

[2016-07-19 13:04] heryqk commented on #43
@martin-g `ClasspathAssestPathCollector ` does not collect the web jars resources on WebSphere. The `collectFromWebJarPath` returns an empty set because the urlConnection returned by WebSphere is of type `com.ibm.ws.classloader.Handler$ClassLoaderURLConnection` which is incompatible with `java.net.JarURLConnection`.

[2016-07-19 13:36] martin-g commented on #43
This explains it!
If you are able to create a version of ClasspathAssestPathCollector for WebSphere then I'd be happy to add it to the project!

[2016-07-19 18:44] heryqk commented on #43
So I now have it working on WebSphere. There were 2 main issues and 1 side effect.
1. The web jar path needs a trailing slash as stated elsewhere
2. ` com.ibm.ws.classloader.Handler$ClassLoaderURLConnection` is incompatible with `java.net.JarURLConnection`
3. Adding the trailing slash to webjarPath, causes a duplicate "/" in AssetsMap.listAssets()

There is no easy way to fix no 2, as we definitel

[2016-07-19 20:48] martin-g commented on #44
Hi @PolyPik,

I've just fixed the issue in `wicket-7.x` branch.
Could you please build it locally and verify that it works for you too ?
Thank you and sorry for the delay!

[2016-07-19 21:01] martin-g commented on #44
Just tested the fix with Wildfly 8.1 and 9.0.2 as well.
Seems to work good!

[2016-07-19 21:01] #44 closed

[2016-07-19 21:54] martin-g commented on #43
The PR + some improvements have been applied to branches wicket-6.x, wicket-7.x and wicket-8.x!
Please double check that I didn't break anything and I will release new versions.
Thank you!

[2016-07-19 21:54] #43 closed

[2016-07-19 21:55] PolyPik commented on #44
Issue is fixed for Wildfly 10.

[2016-07-19 21:58] martin-g opened #46 "Make 'wicket-7.x' the default branch"
Hi @l0rdn1kk0n !

How is it going?

Could you please make `wicket-7.x` branch the default one in GitHub ?
Then I will delete `master`.

I'll need the same for wicket-jquery-selectors and wicket-bootstrap too. Maybe you could just make me co-admin of all your Wicket related projects :-)

[2016-07-19 22:00] martin-g commented on #44
Thanks for confirming!

[2016-07-20 12:07] heryqk commented on #43
@martin-g I'm trying to complete the final testing which includes updating wicket-bootstrap to use wicket-webjars 0.4.10-SNAPSHOT, however, the initialization of `WicketWebjars.install()` is embedded within the `Bootstrap.install()` method, so theres no way right now to install web jars with a custom WebjarSettings. Should we create an overridable method in `Bootstrap` that allows a user to pass i

[2016-07-20 12:23] martin-g commented on #43
I see!
Yes, please please an issue/PR for this at wicket-bootstrap!
Thank you!

[2016-07-20 12:40] heryqk commented on #43
Will do. Seems I missed the fact that Bootstrap class is all static methods. Are you okay with the following before I make the change ?

[code]

[2016-07-20 13:23] martin-g commented on #43
Sure!
We will figure out better API later.

[2016-07-20 14:33] heryqk commented on #43
Everything is tested on my end if you want to release 0.4.10. Wicket-Bootstrap 0.9.18 should depend on that version.

Thank you for your help on this.

[2016-07-20 14:40] martin-g commented on #43
How urgent is this for you ?

[2016-07-20 15:03] heryqk commented on #43
I can build my own versions for now, so no rush. I just want to make sure 0.4.10 makes it in the next Wicket-Bootstrap release.

[2016-07-26 16:29] Shengche opened #47 "wicket-webjars 0.5.4 with Apache Wicket 7.3.0"
When I use ModernizrJavaScriptReference, the web application cannot find resource of modernizr.js

the log showed cannot resolve /modernizr/current/modernizr.js -> /webjars/modernizr/null/modernizr.js

And after I changed version back to 0.5.3, it works!

[2016-08-14 21:19] martin-g commented on #47
Please provide a demo/quickstart application.

[2016-08-15 15:01] martin-g commented on #46
@l0rdn1kk0n Ping!

[2016-08-16 13:46] Shengche commented on #47
Yes, let me try!

On Monday, 15 August 2016, Martin Grigorov <notifications@github.com> wrote:

--
--------------------------------------------------------------------
----------------------------------->
To boldly go where no man has gone before.
--------------------------------------------------------------------
----------------------------------->
We do this not because it is easy. We do this

[2016-08-16 14:00] l0rdn1kk0n commented on #46
done.

[2016-08-16 14:00] #46 closed

[2016-08-16 14:57] martin-g commented on #46
Thanks!
I've created separate issues for Wicket Bootstrap and JQuery Selectors.

[2016-08-16 15:05] l0rdn1kk0n commented on #46
i've changed all default branches to wicket-7

[2016-08-16 15:06] martin-g commented on #46
Thank you!

[2016-08-17 06:50] svenackermann opened #48 "sporadic NoClassDefFoundError WebjarsVersion$Holder"
Hi,

I'm not sure if this is a bug in webjars or wicket-webjars or wherever.
I have a Jenkins job that builds a wicket component library which depends on wicket-webjars 0.5.3 and wicket 7.2.0. Every 2nd or 3rd build I have all unit tests failing with:
`java.lang.NoClassDefFoundError: Could not initialize class de.agilecoders.wicket.webjars.util.WebjarsVersion$Holder
    at de.agilecoders.wicket.we

[2016-08-17 07:04] martin-g commented on #48
The same happens on Cloudbees (the CI used for this project. Again Jenkins behind).
The build doesn't fail anywhere else.
IMO it is some class loader related issue in Jenkins.
I'll be glad to apply patches if you find any improvements!

[2016-08-30 06:57] svenackermann commented on #48
I just created https://issues.jenkins-ci.org/browse/JENKINS-37797, maybe the Jenkins guys have an idea.

[2016-08-30 07:33] martin-g commented on #48
Thanks!
I hope they have an idea!

[2016-10-07 07:07] #47 closed

[2016-12-07 20:48] jn73 opened #49 "Not serving resources when running under embedded jetty"
I have a legacy wicket 6 application that is running fine under jboss-7 (also tried tomcat). Now I would like to run it through an embedded jetty-server but then wicket keeps ignoring any requests to /webjars:

DEBUG - RequestCycle               - No suitable handler found for URL webjars/bootstrap/3.2.0/js/bootstrap.min.js, falling back to container to process this request

I have this in my appl

[2016-12-08 04:30] martin-g commented on #49
You don't mention which versions you use but I have the feeling that
wicket-webjars is not latest. Please update it and try again.
If this doesn't help then please create a quickstart app and attach it here.

On Dec 7, 2016 10:48 PM, "Jan Eriksson" <notifications@github.com> wrote:

[2016-12-08 08:01] jn73 commented on #49
Wicket 6.25.0 and wicket-webjars 0.4.10.

I'll attach  quickstart project which is not serving http://localhost:8080/webjars/bootstrap/3.2.0/css/bootstrap.css

Running with: mvn package exec:java -Dexec.mainClass="se.metria.fpris.admin.Start" -Dexec.classpathScope="test"

[quickstart.zip](https://github.com/l0rdn1kk0n/wicket-webjars/files/638733/quickstart.zip)

[2016-12-17 16:26] Shengche opened #50 "Wicket 6.24.0 with wicket-webjars 0.4.10 "current" not detected"
Hello
I used Wicket 6.24.0 and wicket-webjars 0.4.8 works well with below debug message:

23:22:41,672  INFO wicket-jquery-selectors:59 - initialize wicket jquery selectors with given settings: de.agilecoders.wicket.jquery.settings.WicketJquerySelectorsSettings@253eb419

But, when I changed wicket-webjars version to 0.4.10 something happened:

23:16:12,167  INFO wicket-jquery-selectors:59 - initia

[2016-12-18 22:40] martin-g commented on #49
This is not a bug in Wicket Webjars.
The support for usages like `<link href="webjars/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">` comes from Servlet 3. Containers implementing v.3 should provide all resources inside `/META-INF/resources/` as static resources.
In your demo app you use `<jetty.version>7.6.16.v20140903</jetty.version>` which is implementing Servlet 2.x.
Unfortunately just u

[2016-12-18 22:40] #49 closed

[2016-12-18 22:45] martin-g commented on #50
Please provide a quickstart application!
Thank you!

[2016-12-20 08:23] jn73 commented on #49
Thanks for your answer - I'll look for a solution in jetty.

[2016-12-20 08:25] martin-g commented on #49
If you use Webjars(Css|JavaScript)ResourceReference instead of `<link .../>` then it works fine too.

[2017-01-10 15:56] bgooren commented on #48
Hi!

We have this issue too, but during development (on local osx machine, running eclipse; the app runs inside tomcat 8, managed from within eclipse).

The error occurs sometimes when deserializing wicket sessions on application (re-) start.
Should we not keep a reference to WebjarsJavaScriptResourceReference in our components?

Stack trace:
[code]

[2017-01-11 14:20] martin-g commented on #48
@bgooren Your issue is different than the one reported in this ticket.
Please create a new ticket. Thanks!

[2017-01-11 15:58] bgooren opened #51 "Session deserialization at tomcat startup fails due to ExceptionInInitializerError in WebjarsVersion"
Hi!

During development (on local osx machine, running eclipse; the app runs inside tomcat 8, managed from within eclipse) we are having issues when deserializing wicket sessions on application (re-) start. Deserialization fails on WebjarsJavaScriptResourceReference.

Should we not keep a reference to WebjarsJavaScriptResourceReference in our components?

Stack trace:
[code]

[2017-01-11 17:04] martin-g commented on #51
Here are the options that I see:

1) do not keep a reference to WebjarsJavaScriptResourceReference
2) use `static` member fields for WebjarsJavaScriptResourceReference
3) fallback to `WebjarsSettings` at https://github.com/l0rdn1kk0n/wicket-webjars/blob/d96205150f796f615b1509196df91111a6168c9e/library/src/main/java/de/agilecoders/wicket/webjars/WicketWebjars.java#L138 instead of throwing an except

[2017-01-11 17:17] martin-g commented on #51
Can you prepare a small quickstart app to play with ?
I think I can save and restore the application during deserialization of WebjarsJavaScriptResourceReference and later it should be available at WicketWebjars#settings().

[2017-01-14 10:03] bgooren commented on #51
Hi Martin,

I'll make a quickstart as soon as possible and will provide it here when done :-)

[2017-01-23 13:55] bgooren commented on #51
Ok - quickstart attached.
[quickstart.zip](https://github.com/l0rdn1kk0n/wicket-webjars/files/723784/quickstart.zip)

Reproducing the bug is easy:
- open http://localhost:8080/
- click a couple of times on the stateful link at the bottom
- stop jetty (should be done quickly, it looks like sessions expire really quickly)
- start jetty again with existing session still on disk (check in target/jetty

[2017-01-23 14:46] martin-g commented on #51
Thanks!

[2017-02-24 10:15] svenackermann commented on #48
Hi,
I just closed https://issues.jenkins-ci.org/browse/JENKINS-37797 because the problem did not happen for some time now. Unfortunately, I don't know exactly why it's gone, but I guess it might be because of new Jenkins version. We still use wicket-webjars 0.5.3.

So if you like, you can close this. I won't do it myself because you mentioned a similar problem on Cloudbees.

[2017-02-24 10:22] martin-g commented on #48
Cloudbees uses Jenkins!
Closing ...

[2017-02-24 10:22] #48 closed

[2017-05-04 20:03] dweidele opened #53 "WebSphere WebJars"
Hi,

I have read several issues around WebJars on WebSphere. I am running into some issue where for bootstrap-datetimepicker the CSS/JS references cannot be determined. Especially I notice where there should be a version string in the URL, there is just null.

I have read there have been some fixes going on, but now I am not exactly sure how to use / configure for WebSphere.

I'd be glad if you co

[2017-05-04 20:12] martin-g commented on #53
Hi,

You need to use the latest version of wicket-webjars depending on the version of Wicket you use. Please consult with the README in the root of the project for that.

WebSphere is a commercial product and I don't have access to it to test but recently another user debugged it and contributed https://github.com/l0rdn1kk0n/wicket-webjars/commit/1cc470429f2a675d3d8447df4e278e86e60f65df
So, you ju

[2017-05-04 20:28] dweidele commented on #53
Oh, I did not notice WebSphereWebjarsSettings, thanks! Works for me 👍

Just in case, if you'd ever need to test on WebSphere you can use the Java Liberty Profile on IBM Bluemix (30-days free trial).

[2017-05-04 20:28] #53 closed

[2017-05-04 20:46] martin-g commented on #53
I'm glad it worked!

Well, it seems there are many flavors of WebSphere - https://github.com/l0rdn1kk0n/wicket-webjars/issues/43#issuecomment-229651572 :-)
Honestly, I am not really keen on dealing with it. I've heard many bad things about it :-/

[2017-08-16 11:27] pqian commented on #50
@martin-g: You have applied FIX #44 in branch 2.x, 0.5.x, und 0.4.x. Could you make a new release for 0.4.x? The 0.4.10 was released in Aug 2016, 1 year ago. The fix is important for loading webjars in JBoss.

[2017-08-16 11:47] martin-g commented on #50
0.4.11 is on its way to Maven Central!
Enjoy!

[2017-08-16 12:57] pqian commented on #50
@martin-g
...but the fix is not in the release 0.4.11. see [VfsAssetPathCollector](https://github.com/l0rdn1kk0n/wicket-webjars/blob/wicket-webjars-parent-0.4.11/library/src/main/java/de/agilecoders/wicket/webjars/collectors/VfsAssetPathCollector.java)
in branch wicket-6.x the [VfsAssetPathCollector](https://github.com/l0rdn1kk0n/wicket-webjars/blob/wicket-6.x/library/src/main/java/de/agilecoders/

[2017-08-16 13:05] martin-g commented on #50
Duh!
No idea how this happened!

I've released latest `wicket-6.x` branch.
`git pull --rebase` returned that everything is up-to-date. I even was able to push dependencies updates in the pom.xml.

I'll try to find what went wrong later.
If you find it before me please let me know and I will cut 0.4.12.

[2017-08-16 15:51] martin-g commented on #50
OK. 0.4.12 is released!

[2017-08-16 15:51] #50 closed

[2017-08-16 16:00] martin-g commented on #51
Hi @bgooren !

It's been a while since you reported this issue.
I've just tried to reproduce it but it seems Jetty doesn't store the sessions. I don't see anything about this neither in Start.java nor in jetty.xml files.
Do you recall how you started Jetty - with Start.java or by using external Jetty instance ?

[2017-08-31 19:18] bgooren commented on #51
Hi @martin-g,

I'll try to reproduce it - I'll need to check the quickstart myself as it's been a while since I reported this :-)

[2018-03-14 15:04] bgooren commented on #51
Hi @martin-g,

It took longer than expected to find some time to look at this. I start the jetty instance using
`mvn jetty:run`
(the jetty session storage is configured in pom.xml)

It took two tries (start jetty, open http://localhost:8080, click link a couple of times, stop jetty, start jetty again), but I was able to reproduce. See attached startup log.
[startup.log](https://github.com/l0rdn1kk

[2018-03-14 16:09] lalmeras commented on #51
As I am interested in serialization issues, I take some time to see what happens.
From my point of view:

* problem is effectively a serialization-related problem
* problem is linked to the WebjarsVersion/WebjarsVersion$Holder initialization behavior
* problem is not linked to the fact that WebjarsVersion/WebjarsVersion$Holder are not serializable, as these classes are not serialized (they are ref

[2018-03-14 20:04] martin-g commented on #51
Good analysis, @lalmeras !
I knew why it is broken, I just needed a demo application so I can test whether a potential fix actually works.
Do you want to try to fix it as I suggested at https://github.com/l0rdn1kk0n/wicket-webjars/issues/51#issuecomment-271931153 ?
My idea is to override writeObject() and to write the application name in addition to the default fields. Then in readObject() to use

[2018-03-14 20:04] martin-g commented on #51
Hm. But this will leak the thread local I am afraid.

[2018-03-15 09:02] lalmeras commented on #51
I don't think this is the right approach to fix this. IMO static initializers should not call any statefull code (like WebjarsSettings.get()...)

Thinking about a way to fix it, I try to find a similar usecase in Wicket, and it seems to me that there is nowhere in wicket code something like static Application staticField = Application.get() ; and that is on purpose.

So I propose to move all Holde

[2018-05-13 20:06] lalmeras commented on #51
Any feedback on my proposal ? Do you think my analysis is right ? Do you agree on the proposed modifications (get rid of attributes in Holder, get rid of useRecent() call in initialization code).

Are you interested by a PR, or do you prefer to work on your own fix ?

[2018-09-18 10:52] martin-g commented on #51
@lalmeras Please create a PR!

[2018-10-16 16:17] lalmeras commented on #51
Working on it ; code is already there : https://github.com/igloo-project/wicket-webjars/tree/issue-51-deserialization

I still need to reproduce the issue with the quickstart.zip to ensure my fix is working.

[2018-11-06 10:06] lalmeras commented on #51
I work again on this, and slightly change what I done before.

Previous branch https://github.com/igloo-project/wicket-webjars/tree/issue-51-deserialization is moved to https://github.com/igloo-project/wicket-webjars/tree/issue-51-deserialization-holder : it does not fix the issue for quickstart.zip, as it uses Webjars...ResourceReference in a static attribute, so calls useRecent(...) at attribute

[2019-02-13 16:46] bgooren commented on #51
Hi! Just wanted to check if this can be closed, since the PR with a fix was merged, correct?

[2019-02-13 17:04] martin-g commented on #51
No.
The PR introduced problems.
There is a new PR which I have to take a deeper look at...

On Wed, Feb 13, 2019, 18:46 Sebastian Gooren <notifications@github.com
wrote:

[2019-02-15 14:10] martin-g commented on #51
#57 and #58 are merged and improved.
Closing this issue!
Please test it when you have a chance with 2.0.11

[2019-04-09 15:13] bgooren commented on #51
Hi!

I'm testing with wicket 8.4.0 and wicket-webjars 2.0.11, and still see the error sometimes:

[code]

In `DropzoneBehavior` we have static webjars resource references:

[code]

It looks like something went wrong while merging the changes in #57 into the wicket-8.x branch...

See https://github.com/l0rdn1kk0n/wicket-webjars/commit/6e0e82f994b023c10290f04138efadebef208ffb

In wicket-webjars 2.0.

[2019-04-09 17:18] lalmeras commented on #51
I confirm it seems to be an issue with #58 merge (6e0e82f994b023c10290f04138efadebef208ffb is the merge of #58, not #57). useRecent calls should not be there.

[2019-04-12 10:49] martin-g commented on #51
Without `useRecent()` the produced url would be `.../current/.../some.css` instead of `.../1.2.3/.../some.css` and everything else is broken.

So, yes. It seems this issue is not resolved!

[2019-04-12 13:42] martin-g commented on #51
Added a workaround that uses the default WebjarsSettings when there is no Application thread local.
2.0.12 is on its way to Maven Central

[2019-04-12 13:42] #51 closed

[2019-05-03 12:34] VaclavC opened #59 "Ace editor dynamic loading with wicket-webjars?"
Hello, my apologies if this should be rather a question than bugreport. But how should I use properly org.webjars.bowergithub.ajaxorg:ace-builds webjar properly with wicket-webjars? I have

[code]

In my page class. Ace tries to dynamically load theme-github.js and mode-html.js then and is unable to do so. I can add them manually (commented out items in source), but this is probably not the right

[2019-05-04 14:54] martin-g commented on #59
Please create a quickstart and we will take a look what goes wrong.

[2019-05-04 15:54] VaclavC commented on #59
Here: https://github.com/VaclavC/Test-WebjarsAce

[2019-05-04 16:00] VaclavC commented on #59
And, I have turned off PackageResourceGuard completely for this, which is also bad.

[2019-05-10 06:29] martin-g commented on #59
The problem is in the generated urls: `http://localhost:8080/wicket/resource/de.agilecoders.wicket.webjars.request.resource.WebjarsJavaScriptResourceReference/webjars/ace-builds/src-min-noconflict-ver-1557469347000/theme-github.js`

as you can see the the caching hash is added to the folder, not to the filename.

A quick workaround is to add `getResourceSettings().setCachingStrategy(NoOpResourceCa

[2019-05-10 06:59] martin-g commented on #59
The reason was in the application code: `String acePath = urlFor(new WebjarsJavaScriptResourceReference("ace-builds/src-min-noconflict"), new PageParameters()).toString();`

[2019-05-10 07:02] martin-g commented on #59
The fix is:

[code]

[2019-05-10 07:02] #59 closed

[2019-05-12 10:03] VaclavC commented on #59
So it was my mistake. Thank you!

[2019-11-26 07:21] keesvandieren opened #61 "Set default branch to Wicket 9"
Currently Wicket 7 is set to default, while there is already Wicket 9 support. Better to set most recent as default?

[2019-11-26 07:43] martin-g commented on #61
I do not have the permissions for changing that.
Only @l0rdn1kk0n can do it.

[2020-02-28 12:52] reckart opened #62 "wicket-webjars-3.0.0-M4 does not work with Java 8"
The wicket-webjars-3.0.0-M4.jar was build on a Java 11 and apparently there is no configuration in the POM that pins it down to Java 8 compatibility. Is the absence of Java 8 compatibility intentional?

[2020-02-28 12:53] reckart commented on #62
This is what I see in my build:

[code]

[2020-02-29 05:54] martin-g commented on #62
Yes, this is intentional.
3.x is for Wicket 9.x.

Wicket 8.x Bootstrap 3.x/4.x use wicket-webjars 2.x: https://github.com/l0rdn1kk0n/wicket-bootstrap/blob/wicket-8.x-bootstrap-4.x/pom.xml#L49

[2020-02-29 05:54] #62 closed

[2020-04-19 11:18] mjoaquim12 opened #63 "WARN 'more than one version...' printed when there is only one version of a resource but two copies."
See https://github.com/snapappointments/bootstrap-select

META-INF/resources/webjars/bootstrap-select/1.13.12/docs/docs/dist/css/bootstrap-select.css
META-INF/resources/webjars/bootstrap-select/1.13.12/dist/css/bootstrap-select.css

WARN  2020 Apr 19, 15:05:12 [localhost-startStop-1] WicketWebjars - more than one version of a dependency is not supported till now. webjars resource: /dist/css/bootst

[2020-04-24 19:04] martin-g commented on #63
What is the complaint here ?
There are two `css/bootstrap-select.css` here. It is a wrong packaging of this particular webjar.

[2020-04-26 07:04] mjoaquim12 commented on #63
The path provided in code is
new WebjarsCssResourceReference( "bootstrap-select/current/dist/css/bootstrap-select.css" ).

Not sure why the /docs directory is being scanned.

Thank you.

[2021-08-16 12:48] #61 closed